
/* 
    Created on : 30 lis 2023, 13:36:56
    Author     : Areckyy_
*/
.root{
    -fx-background-color: #f3f2ed;
}

.button {
    -fx-background-color: #063970;
    -fx-text-fill: white;
    -fx-border: none;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #1979a9;
    -fx-font-weight: bold;
}

